{% extends 'base.html' %}

{% block "left_column" %}
<!-- Column 1 start -->
    <div class="info_block featured_block">
        <h2>Featured Papers</h2>
        <ul class="paper_list">
        {% for paper in featured_papers %}
            <li class="paper_preview">
                <span class="title"><a href="/database/papers/{{ paper.id }}">{{ paper.title }}</paper></span>
                <span class="author"><a href="/database/authors/{{ paper.author.id }}">{{ paper.author.full_name }}</a></span>
                <span class="topic">{{ paper.topic }}</span>
                <span class="publication_date">{{ paper.publication_date }}</span>
                <span class="abstract">{{ paper.abstract }}</span>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div class="info_block recent_block">
        <h2>Recently Posted</h2>
        <ul class="paper_list">
        {% for paper in recent_papers %}
            <li class="paper_preview">
                <div class="paper_preview">
                    <span class="title"><a href="/database/papers/{{ paper.id }}">{{ paper.title }}</paper></span>
                    <span class="author"><a href="/database/authors/{{ paper.author.id }}">{{ paper.author.full_name }}</a></span>
                    <span class="topic">{{ paper.topic }}</span>
                    <span class="publication_date">{{ paper.publication_date }}</span>
                    <span class="abstract">{{ paper.abstract }}</span>
                </div>
            </li>
        {% endfor %}
        </ul>
    </div>
        
        
    <img src="http://matthewjamestaylor.com/blog/perfect-2-column-right-menu-dimensions.gif" width="350" height="370" alt="Two column right menu layout dimensions" />
    <p>All the dimensions are in percentage widths so the layout adjusts to any screen resolution. Vertical dimensions are not set so they stretch to the height of the content.</p>
    <h3>Maximum column content widths</h3>

    <p>To prevent wide content (like long URLs) from destroying the layout (long content can make the page scroll horizontally) the column content divs are set to overflow:hidden. This chops off any content that is wider than the div. Because of this, it's important to know the maximum widths allowable at common screen resolutions. For example, if you choose 800 x 600 pixels as your minimum compatible resolution what is the widest image that can be safely added to each column before it gets chopped off? Here are the figures:</p>
    <dl>
            <dt><strong>800 x 600</strong></dt>
            <dd>Right column: 162 pixels</dd>
            <dd>Main page: 550 pixels</dd>
            <dt><strong>1024 x 768</strong></dt>

            <dd>Right column: 210 pixels</dd>
            <dd>Main page: 709 pixels</dd>
    </dl>
    <h2>The nested div structure</h2>
    <p>I've colour coded each div so it's easy to see:</p>
    <img src="http://matthewjamestaylor.com/blog/perfect-2-column-right-menu-div-structure.gif" width="350" height="369" alt="Two column right menu layout nested div structure" />
    <p>The header, colmask and footer divs are 100% wide and stacked vertically one after the other. Colleft is inside colmask. The two column content divs (col1 &amp; col2) are inside colleft. Notice that the main content column (col1) comes before the side column.</p>

        <!-- Column 1 end -->
{% endblock %}

{% block "right_column" %}
<!-- Column 2 start -->
    <div class="updates_block">
        <h1>Recent Updates</h1>
        <ul>
            {% for update in recent_updates %}
                <li>{{ update.date_added }} - <a href="/updates/{{ update.id }}">{{ update.headline }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
